@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #102746;
  font-family: lato;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  margin: 0 auto;
}

.header__container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
  padding-left: clamp(20px, 20px + 73 * (100vw - 320px) / 942, 100px);
  padding-right: clamp(20px, 20px + 73 * (100vw - 320px) / 942, 100px);
}

.header__menu {
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 80px;
}

.menu__link {
  position: relative;
  font-size: 18px;
  line-height: 133.3333333333%;
  white-space: nowrap;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  background-color: #fff;
  height: 0.15em;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.menu__link:hover::after {
  width: 100%;
}

.burger-icon {
  cursor: pointer;
  display: none;
  align-items: center;
  position: relative;
  padding: 10px;
  z-index: 40;
  top: 0;
  right: 0;
}
.burger-icon span {
  width: 30px;
  height: 2px;
  transform: scale(1);
  background-color: #fff;
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.burger-icon::after {
  bottom: 0px;
}

.burger-icon::before {
  top: 0px;
}

.burger-icon.active span {
  transform: scale(0);
}

.burger-icon.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger-icon.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {
  .burger-icon {
    display: flex;
    margin: 10px;
  }
  .menu__list {
    flex-direction: column;
    row-gap: 9px;
  }
  .menu__item:not(:last-child) {
    margin-right: 10px;
  }
  .header__menu {
    position: absolute;
    left: 50%;
    display: none;
  }
}
.header__menu__active {
  display: flex;
  position: absolute;
  top: 30px;
  left: 50%;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.search-form__info .search-form__field {
  min-width: 240px;
  background: transparent url(/assets/svg/Oval.svg) no-repeat left top;
  background-size: 20px;
  padding: 0px 0px 22px 40px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  display: flex;
  align-self: flex-end;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 759px) {
  .search-form__info .search-form__field {
    margin-top: 15px;
  }
}
.search-form__info .search-form__field::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.search-form__submit {
  padding: 15px 38px;
  background-color: #1B7DFF;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: inherit;
}

.search-form__submit {
  margin: 10px 0px 0px 0px;
}

.page__card {
  position: relative;
  z-index: 4;
  margin: -223px 0px 0px 0px;
}

.card__container {
  background: white;
  padding: clamp(20px, 20px + 30 * (100vw - 320px) / 942, 50px) 100px;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
}

@media (max-width: 630px) {
  .card-body {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
.item-card__title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 37px 0px 26px 0px;
}

.item-card__text {
  line-height: 150%;
}

.item-card__btn {
  margin-top: clamp(20px, 20px + 19 * (100vw - 320px) / 942, 39px);
  display: flex;
  align-items: center;
  background: transparent;
}
.item-card__btn a {
  color: #006DFE;
  margin: 0px 26px 0px 0px;
  line-height: 24px;
  font-size: 16px;
}

.next-trip__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: calc(15px + 31 * (100vw - 320px) / 942);
}

.next-trip__top__btn {
  margin: 0;
}

.next-trip__top h2 {
  position: relative;
}

.next-trip__top h2::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #006dfe;
}

.next-trip__places {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 135px;
}

@media (max-width: 490px) {
  .next-trip__places {
    grid-template-columns: repeat(1, 1fr);
  }
}
.places__card_size_lg {
  grid-column: span 3;
}

.places__card_size_sm {
  grid-column: span 2;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-img {
  transform: scale(1.05);
}

.places__card-img {
  object-fit: cover;
  width: 100%;
  transition: 0.15s all;
}

.places__card-img_lg {
  height: 354px;
}

.places__card-img_sm {
  height: 284px;
}

.places__card-title {
  position: absolute;
  left: 29px;
  bottom: 27px;
  color: white;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 1262px) {
  .places__card-title {
    font-size: calc(24px + 2.06022187vw);
  }
}
.places__card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page__box-items {
  display: flex;
  flex-direction: column;
}

.box__item {
  display: flex;
  overflow: hidden;
}

@media (max-width: 990px) {
  .box__item {
    flex-direction: column;
  }
}
.box__item_block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 108px;
}

@media (max-width: 1024px) {
  .box__item_block-text {
    padding-left: calc(10px + 6.9730586371vw);
  }
  .box__item_block-text .item-card__btn {
    margin-top: 20px;
  }
}
.box__item_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 85px;
}

@media (max-width: 1262px) {
  .box__item_title {
    margin-bottom: calc(20px + 1.9809825674vw);
  }
}
.box__item_tex {
  line-height: 24px;
}

.box__item-bottom {
  margin-top: 100px;
}

@media (max-width: 990px) {
  .box__item-bottom .box__item_block-text {
    order: 2;
  }
  .box__item-bottom .box__item_img {
    order: 1;
  }
}
.box__btn {
  margin: 0;
}

.top-places__title {
  position: relative;
  display: inline-block;
}

.top-places__title h2::after {
  content: "";
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #006dfe;
}

.top-places__box-items {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 34px;
  margin-bottom: 155px;
}

@media (max-width: 1200px) {
  .top-places__box-items {
    margin-bottom: calc(50px + 105 * (100vw - 320px) / 942);
  }
}
@media (max-width: 768px) {
  .top-places__box-items {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 490px) {
  .top-places__box-items {
    grid-template: repeat(2, 1fr)/repeat(1, 1fr);
  }
}
.top-places__item .box__item_text {
  margin: 45px 0px;
}

.top-places__img {
  overflow: hidden;
}

.top-places__img-items {
  display: flex;
  justify-content: space-between;
  margin: 338px 0px 0px 0px;
  padding: 15px 25px;
  color: white;
  position: relative;
  z-index: 6;
  background: rgba(21, 24, 36, 0.6);
}
.top-places__img-items .box__item_text {
  margin: 45px 0px;
}

.img-items__icons {
  display: flex;
  gap: 10px;
}

.img-items__icon {
  display: inherit;
  gap: 5px;
}

.top-places_btn {
  padding: 12px 19px;
  background-color: #1B7DFF;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: inherit;
}

.page__video {
  width: 100%;
}

.video__wrap {
  position: relative;
  margin: 0 auto;
}

.video__wrap_item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background: #0E1D28;
  color: white;
  white-space: nowrap;
}

.footer__container {
  display: flex;
  padding: calc(70px + 4.3581616482vw) 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__logo {
  padding: 20px 20px 20px 20px;
}

.footer__logo img {
  max-width: 100%; /* Лого буде маштабуватися до 100% ширини батьківського контейнера */
  min-height: 50px; /* Встановіть максимальну висоту, яка вам потрібна */
  margin-right: 20px;
}

.navigation__item {
  position: relative;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sub-navigation__list {
  position: absolute;
  top: 40px;
  left: 5px;
  display: none;
}

.sub-navigation__list_new {
  display: none;
  max-height: 200px;
}

.navigation__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 133.3333333333%;
  padding-bottom: 4px;
}

.sub-nawigation__item {
  font-size: 16px;
  padding-left: 8px;
  line-height: 150%;
}

.navigation__list {
  position: relative;
  display: flex;
  gap: calc(30px + 8.7163232964vw);
}

@media (max-width: 500px) {
  .navigation__list {
    flex-direction: column;
    gap: 4px;
  }
  .navigation__item {
    position: relative;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden; /* Щоб приховати вміст при зміні висоти */
  }
  .navigation__list > li {
    margin-bottom: 20px;
  }
  .sub-navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #444;
  }
  .navigation__item:hover .sub-navigation__list_new {
    display: block;
    max-height: 200px;
  }
}
.navigation__item > :not(:last-child) {
  margin-bottom: 15px;
}

.navigation__item:hover .sub-navigation__list {
  display: block;
  max-height: 200px;
}

.sub-navigation__list {
  position: absolute;
  top: 40px;
  left: 5px;
}

.sub-nawigation__item {
  padding-bottom: 5px;
}

@media (max-width: 700px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  width: 100%;
  max-width: 1262px;
  margin: 0 auto;
  box-sizing: border-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

._titleH2 {
  margin: clamp(20px, 20px + 70 * (100vw - 320px) / 942, 93px) 0px;
  font-family: lato;
  font-size: 35px;
  font-weight: 500;
}

._filter {
  filter: brightness(70%);
}

.page {
  flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__container {
  padding: 263px 100px 376px 100px;
  position: relative;
  z-index: 3;
}

@media (max-width: 550px) {
  .main-block__container {
    padding-left: calc(20px + 80 * (100vw - 320px) / 880);
    padding-right: calc(20px + 80 * (100vw - 320px) / 880);
  }
}
.main-block__title {
  max-width: 619px;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}

.main-block__text {
  margin: 22px 0px 59px 0px;
  max-width: 546px;
  line-height: 150%;
  color: #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-block__image img {
  filter: brightness(70%);
}

@media (max-width: 1264px) {
  .page {
    padding: 0px 7px;
  }
}

/*# sourceMappingURL=style.css.map */
