.page__card {
    position: relative;
    z-index: 4;
    margin: -223px 0px 0px 0px;
}

.card {}

.card__container {
    
    background: white;
    padding: 0px 100px 0px 100px;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
}
@media (max-width: 375px) {
    .card__container {
        padding: 0px 40px 0px 40px;
    }
}


.card__title {
}

.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}
@media (max-width: 630px) {
    .card-body {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

.card__item {}

.item-card {}

.item-card__icon {}

.item-card__title {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 37px 0px 26px 0px;
}

.item-card__text {
    line-height: 150%;
}

.item-card__btn {
    margin: 39px 0px 112px 0px;
    display: flex;
    align-items: center;
    background: transparent;
    

    & a {
        color: #006DFE;
        margin: 0px 26px 0px 0px;
        line-height: 24px;
        font-size: 16px;
    }

}