.header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    
    margin: 0 auto;
    
    // margin-top: 5px;
}

.header__container {
    position: absolute;
    display: flex;
    justify-content:space-between;
    // margin: 0 auto;
    align-items: center;
    min-height: 104px;
    // padding: 0px 100px 0px 100px;
    padding-left: clamp(20px, calc(20px + (93 - 20) * (100vw - 320px) / (1262 - 320)), 100px);
    padding-right: clamp(20px, calc(20px + (93 - 20) * (100vw - 320px) / (1262 - 320)), 100px);
    // width: 1262px;
    // width: 100vw;
    // padding: 0 calc(100vw - 1261px);
    
}
@media (max-width: 550px) {
    .header_container {
    
        
    }
}

.header__logo {
    
}

.header__menu {
    display: flex;
    align-items: center;
    /*еластичній margin!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    // margin-left: min(100%, calc(50px + (488 - 50) * (100vw / 1262)));
    // margin-left: clamp(20px, calc(20px + (488 - 20) * (100vw - 320px) / (1262 - 320)), 488px);
    
    color: #fff;
}
@media (max-width: 479px) {
    // .header__menu {
    //     margin-left: 50px;
    // }
}

.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    // flex-wrap: wrap;

}
@media (max-width: 900px) {
    .menu__list {
        display: none;
    }
}

.menu__item a{
    white-space: nowrap;
}

.menu__item:not(:last-child) {
    margin-right: 80px;
}

.menu__link {
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
}
.burger-icon {
    // position: absolute;
    // left: 80vw;
    cursor: pointer;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    

    span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        
    }
}
@media (max-width: 900px) {
    .burger-icon {
        display: flex;
        margin-left: 10px;
    }
}
