.header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    margin: 0 auto;
}

.header__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 104px;
    padding-left: clamp(20px, calc(20px + (93 - 20) * (100vw - 320px) / (1262 - 320)), 100px);
    padding-right: clamp(20px, calc(20px + (93 - 20) * (100vw - 320px) / (1262 - 320)), 100px);
}

.header__menu {
    display: flex;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease 0s;
}


.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 80px;
}

.menu__link {
    position: relative;
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
    white-space: nowrap;
}

.menu__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    background-color: #fff;
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.menu__link:hover::after {
    width: 100%;
}

///////////// BURGER STYLES   /////////////////

.burger-icon {
    cursor: pointer;
    display: none;
    align-items: center;
    position: relative;
    padding: 10px;
    z-index: 40;
    top: 0;
    right: 0;

    span {
        width: 30px;
        height: 2px;
        transform: scale(1);
        background-color: #fff;
    }

}




.burger-icon::after,
.burger-icon::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.burger-icon::after {
    bottom: 0px;
}

.burger-icon::before {
    top: 0px;
}

.burger-icon.active span {
    transform: scale(0);
}

.burger-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}


.burger-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

//////////////   MEDIA   //////////
@media (max-width: 900px) {
    .burger-icon {
        display: flex;
        margin: 10px;
    }

    .menu__list {
        flex-direction: column;
        row-gap: 9px;
    }

    .menu__item:not(:last-child) {
        margin-right: 10px;
    }

    .header__menu {
        position: absolute;
        left: 50%;
        // top: -125%;
        display: none;
    }
}

.header__menu__active {
    display: flex;
    position: absolute;
    top: 30px;
    left: 50%;
}