.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    padding: 0px 100px 0px 100px;
    
    // margin-top: 5px;
}

.header__container {
    position: absolute;
    display: flex;
    min-height: 104px;
    align-items: center;
    
    
}
@media (max-width: 479px) {
    .header_container {
        min-height: 85px;
    }
}

.header__logo {
    
}

.header__menu {
    /*еластичній margin!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    margin-left: min(488px, calc(50px + (488 - 50) * (100vw / 1262)));
    color: #fff;
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 50px;
    }
}

.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;

}
@media (max-width: 515px) {
    .menu__list {
        display: grid;
    }
}

.menu__item {}

.menu__item:not(:last-child) {
    margin-right: 80px;
}

.menu__link {
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
}